/* .slider-arrow {
    border: "2px solid";
    border-color: gray;
    border-radius: 50%;
    color: "gray"
}
.slider-arrow:hover {
    border: "2px solid";
    border-color: gray;
    border-radius: 50%;
    background-color: black;

} */